body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a:hover {
  opacity: 0.8;

  transition: 0.3s;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
  min-width: 260px;
  padding: 0;
}


button:hover,
button:active,
button:focus {
  outline: none;
}
