header {
  background-color: $color-blue0;

  color: #ffffff;
}

.header-top {
  padding: 11px 0 8px;

  border-bottom: 2px solid rgba(255, 255, 255, 0.1);

  @include xl-widths {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 70px;
    padding: 4px 0;

    background-color: #204e9a;
    border: none;
  }

  .row {
    align-items: center;

    @include md-widths {
      justify-content: space-between;
    }

    .col:nth-of-type(1) {

      @include news-widths {
        display: none;
      }
    }

    .col:nth-of-type(3) {
      flex-grow: 2;

      @include md-widths {
        display: none;
      }
    }

    .col:nth-of-type(4) {

      @include md-widths {
        display: none;
      }
    }

    .col:nth-of-type(5) {

      @include md-widths {
        display: none;
      }
    }

    .col:nth-of-type(6) {

      @include md-widths {
        display: none;
      }
    }

    .col:nth-of-type(7) {

      @include md-widths {
        flex-grow: 0;
      }
    }
  }

  .bars-wrapper {

    svg {
      fill: #ffffff;

      width: 22px;
      height: auto;

      @include news-widths {
        display: none;
      }
    }
  }

  .logo-wrapper {

    img {

      @include xl-widths {
        height: 62px;
        width: 38px;
      }
    }
  }

  .descriptor {

    @include md-widths {
      display: none;
    }

    p {
      margin-left: 0;

      font-size: 16px;
      line-height: 1.5;
    }
  }

  .weather-wrapper {
    display: flex;
    align-items: center;

    @include xl-widths {
      display: none;
    }

    .weathet-title {
      border-right: 1px solid #fff;
      margin-right: 14px;
      padding-right: 19px;
    }

    .weather-data{
      img {
        display: inline-block;
        max-height: 26px;
        max-width: 26px;
        vertical-align: middle;
      }
    }

    .weather-info-item {
      margin-left: .5em;
    }
  }

  .poor-vision-wrapper {

    @include md-widths {
      display: none;
    }

    a {

      &:hover {
        opacity: 0.8;

        transition: 0.3s;
      }
    }
  }

  .social-wrapper {

    @include md-widths {
      display: none;
    }

    .social-links {
      display: flex;
      align-items: center;
    }

    a {
      margin-right: 14px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: 0.8;

        transition: 0.3s;
      }
    }

    svg {
      fill: #ffffff;

      width: 22px;
      height: auto;
    }
  }

  .search-wrapper {

    .search {
      position: relative;

      height: 36px;

      .search-input-label {
        position: absolute;
        top: 7px;
        z-index: 2;
        left: 15px;

        opacity: 1;

        cursor: pointer;

        @include xl-widths {
          left: -20px;

          display: none;
        }
      }

      .input-label-opened {
        left: -290px;

        display: block;

        transition: 0.3s;
      }

      .active {
        left: calc(100% - 82px);

        opacity: 0.8;

        transition: 0.3s;
      }

      .search-input {
        position: absolute;
        top: 0;
        right: 0;

        padding: 8px 35px 8px 14px;
        width: 100%;

        box-sizing: border-box;
        background: transparent;
        border: 1px solid #fff;

        display: block;
        font: inherit;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;

        @include xl-widths {
          opacity: 0;
          width: 20px;

          transition: 0.3s;
        }
      }

      .input-opened {
        position: absolute;

        right: 0;
        width: 300px;
        opacity: 1;

        background-color: #204e9a;

        transition: 0.3s;
      }

      button[type="submit"] {
        position: absolute;
        top: 9px;
        right: 0;
        z-index: 10;

        height: 34px;
        width: 26px;

        background-image: url("../img/search-icon.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-color: transparent;
        border: 0;

        cursor: pointer;

        &:hover {
          opacity: 0.8;

          transition: 0.3s;
        }
      }
    }
  }
}

.header-bottom {

  @include xl-widths {
    display: none;
  }

  .active-menu {

    svg {
      width: 20px;

      fill: #ffffff;
    }
  }

  .menu-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;

    & > li:hover > a {
      background: #00235c;

      transition: 0.3s;
    }

    & > li:hover > ul {
      display: block;

      transition: 0.3s;
    }

    & > li:first-child {
      flex-grow: 0;
    }

    a {
      display: block;
      padding: 12px 5px;

      color: #ffffff;
      font-family: 'Geometria', 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 25px;
      text-align: center;
      text-decoration: none;
    }

    ul {
      position: absolute;
      top: 49px;
      left: 0;
      z-index: 10;

      margin: 0;
      padding: 0;
      display: none;

      background-color: white;

      list-style: none;

      li {
        border-top: 1px solid #e7e7e7;
        display: block;
        margin-right: 0;
      }

      a {
        color: #204e9a;
        font-size: 14px;
        line-height: 1.5;
        font-weight: normal;
        padding: 5px 10px;
        text-align: left;

        &:hover {
          background: #00235c;
          color: #ffffff;

          opacity: 0.8;

          transition: 0.3s;
        }
      }
    }

    li {
      position: relative;
      flex-grow: 1;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 50px;

  background-color: #204e9a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-tag {
  background-color: #155eed;

  @include xl-widths {
    margin-top: 70px;
  }

  .col-12 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  p {
    padding: 15px 0;

    color: #ffffff;
    font-size: 25px;
    line-height: 30px;

    &:hover {
      opacity: 0.8;

      transition: 0.3s;
    }
  }
}
