.section-projects {
  .container {
    .row {
      .col-6:first-child {
        h2 {
          font-family: 'Roboto', sans-serif;
          font-size: 24px;
          font-weight: normal;
          line-height: 1.25;
          margin: 0 auto 54px;
        }
      }

      .col-6:last-child {
        text-align: right;

        a {
          color: #000;
          border-bottom: 1px solid #000;
          display: inline-block;
          font-family: 'Geometria', 'Roboto', sans-serif;
          font-size: 16px;
          font-weight: normal;
          line-height: 22px;
          text-decoration: none;

          &:hover {
            border-bottom: 1px solid transparent;

            opacity: 0.8;

            transition: 0.3s;
          }
        }
      }
    }
  }
}

.projects-list {
  .projects-item {
    position: relative;

    h3 {
      position: absolute;
      top: 0;
      left: 0;

      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 24px;
      line-height: 30px;
      margin: 20px 24px;
      overflow: hidden;
      z-index: 3;
      color: #ffffff;
    }

    img {
      width: 360px;
      height: 260px;
    }
  }
}

.projects-button-left {
  position: absolute;
  top: calc((100% - 30px) / 2 );
  left: -40px;

  width: 30px;
  height: 30px;

  background-image: url("../img/right-arrow.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;

  cursor: pointer;

  transform: rotate(180deg);
}

.projects-button-right {
  position: absolute;
  top: calc((100% - 30px) / 2 );
  right: -40px;

  width: 30px;
  height: 30px;

  background-image: url("../img/right-arrow.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;

  cursor: pointer;
}
