.section-previews {
  background: #002d78;
  color: #fff;
  margin: 50px auto;
  padding: 50px 0 95px;

  h2 {
    margin: 0 auto 60px;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;

    background: #c72222;
    color: #fff;
    display: inline-block;
    padding: 0 40px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      opacity: 0.8;

      transition: 0.3s;
    }

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.previews-item {
  width: 264px;
  padding: 26px 21px 35px;
  margin-right: 24px;

  border: 1px solid #fff;

  &:hover {
    border: 1px solid red;

    transition: 0.3s;
  }

  .date {
    margin: 0 auto 26px;
    display: block;

    color: #fff;
    font-size: 14px;
    line-height: 1.25;
  }

  a {
    color: #ffffff;

    text-decoration: none;

    &:hover {
      text-decoration: underline;

      transition: 0.3s;
    }
  }
}

.previews-button-left {
  position: absolute;
  top: 100px;
  left: -30px;

  width: 11px;
  height: 22px;

  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;
}

.previews-button-right {
  position: absolute;
  top: 100px;
  right: -30px;

  width: 11px;
  height: 22px;

  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;

  transform: rotate(180deg);
}
