.section-news {
  margin: 21px auto 61px;

  .container {
    text-align: center;
  }
}

.news-list-slider {
  text-align: left;
  margin-bottom: 60px;

  @include xl-widths {
    display: none;
  }

  .col {
    height: 250px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    float: left;

    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .col-6 > div,
  .col-12 > div {
    flex-basis: 50%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .col > div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .col {
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  .text {
    padding: 14px 12px;
  }

  .name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin: 0 auto .5em;
    max-height: 88px;
    overflow: hidden;

    color: #000000;

    &:hover {
      color: #204e9a;

      opacity: 0.8;

      transition: 0.3s;
    }
  }

  .description {
    font-size: 14px;
    line-height: 20px;
    max-height: 80px;
    overflow: hidden;
  }

  .category {
    font-size: 12px;
    line-height: 20px;
    margin: 0 auto .1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
      opacity: 0.8;

      transition: 0.3s;
    }
  }

  .info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;

    a {
      flex-basis: 100%;
    }

    .date {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      opacity: 0.5;

      &::before {
        content: "";

        width: 15px;
        height: 17px;
        display: block;
        margin-right: 5px;

        background-image: url("../img/clock.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }

    .views {
      margin-left: 20px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      opacity: 0.5;

      &::before {
        content: "";

        width: 15px;
        height: 13px;
        display: block;
        margin-right: 5px;

        background-image: url("../img/eye.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }
  }
}

.news-list {
  text-align: left;
  margin-bottom: 60px;

  @include news-widths {
    display: none;
  }

  .col {
    height: 250px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;

    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .col-12 > div:nth-of-type(1) {
    flex-basis: 33%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .col-12 > div:nth-of-type(2) {
    flex-basis: 66%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .col > div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .col {
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  .text {
    padding: 14px 12px;
  }

  .name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin: 0 auto .5em;
    max-height: 88px;
    overflow: hidden;
    margin-bottom: 20px;

    color: #000000;

    &:hover {
      color: #204e9a;

      opacity: 0.8;

      transition: 0.3s;
    }
  }

  .description {
    font-size: 14px;
    line-height: 20px;
    max-height: 80px;
    // overflow: hidden;
  }

  .category {
    font-size: 12px;
    line-height: 20px;
    margin: 0 auto .1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
      opacity: 0.8;

      transition: 0.3s;
    }
  }

  .info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    // margin-top: 100px;

    a {
      flex-basis: 100%;
    }

    .date {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      opacity: 0.5;

      &::before {
        content: "";

        width: 15px;
        height: 17px;
        display: block;
        margin-right: 5px;

        background-image: url("../img/clock.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }

    .views {
      margin-left: 20px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      opacity: 0.5;

      &::before {
        content: "";

        width: 15px;
        height: 13px;
        display: block;
        margin-right: 5px;

        background-image: url("../img/eye.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }
  }
}

.all-news {
  transition: all 0.4s ease 0s;
  background-color: transparent;
  border: 1px solid #204e9a;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.375;
  max-width: 100%;
  min-width: 216px;
  padding: .6em 1em .7em;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;

  &:hover {
    background: #204e9a;
    color: #fff;
  }
}

.news-button-left {
  position: absolute;
  top: calc((100% - 30px) / 2 );
  left: -40px;

  width: 30px;
  height: 30px;

  background-image: url("../img/right-arrow.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;

  cursor: pointer;

  transform: rotate(180deg);
}

.news-button-right {
  position: absolute;
  top: calc((100% - 30px) / 2 );
  right: -40px;

  width: 30px;
  height: 30px;

  background-image: url("../img/right-arrow.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;

  cursor: pointer;
}
