.section-externals {
  max-height: 60px;

  img {
    height: 60px;

    object-fit: contain;
  }
}

.externals-button-left {
  position: absolute;
  top: calc((100% - 30px) / 2 );
  left: -40px;
  z-index: 10;

  width: 30px;
  height: 30px;

  background-image: url("../img/right-arrow.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;

  cursor: pointer;

  transform: rotate(180deg);

  @include xl-widths {
    left: 0;
  }
}

.externals-button-right {
  position: absolute;
  top: calc((100% - 30px) / 2 );
  right: -40px;
  z-index: 10;

  width: 30px;
  height: 30px;

  background-image: url("../img/right-arrow.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;

  cursor: pointer;

  @include xl-widths {
    right: 0;
  }
}
